<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Light Bulb Animation Effects</title>
    <link rel="stylesheet" href="/static/test.css">
</head>
<body>
    <div class="box">
        <div class="bottom">
            <!--<img src="/static/off.png" alt="">-->
        </div>
        <div class="top">
            <!--<img src="/static/on.png" alt="">-->
        </div>
    </div>
</body>
</html>